BASIC EXPLORATION

In [1]:
import pandas as pd

In [2]:
raw = pd.read_csv("raw/Rates_of_Cases_or_Deaths.csv")

In [3]:
print(raw)

     outcome     month  MMWR week     Age group Vaccine product  \
0       case  APR 2021     202114         12-17       all_types
1       case  APR 2021     202114         18-29       all_types
2       case  APR 2021     202114         30-49       all_types
3       case  APR 2021     202114         50-64       all_types
4       case  APR 2021     202114         65-79       all_types
...      ...       ...        ...           ...             ...
1586   death  AUG 2022     202235           80+       all_types
1587   death  AUG 2022     202235  all_ages_adj       all_types
1588   death  AUG 2022     202235  all_ages_adj         Janssen
1589   death  AUG 2022     202235  all_ages_adj         Moderna
1590   death  AUG 2022     202235  all_ages_adj          Pfizer

      Vaccinated with outcome  Fully vaccinated population  \
0                           8                 3.688700e+04
1                         674                 2.543093e+06
2                        1847                 7.428405e+06
3                        1558                 7.487444e+06
4                        1672                 1.439810e+07
...                       ...                          ...
1586                      328                 7.078966e+06
1587                      603                 1.428525e+08
1588                       33                 1.075017e+07
1589                      286                 4.941886e+07
1590                      280                 8.263597e+07

      Unvaccinated with outcome  Unvaccinated population  Crude vax IR  \
0                         30785              17556462.00     21.687858
1                         76736              31091322.00     26.503160
2                         98436              41074337.00     24.864019
3                         50324              22948569.00     20.808169
4                         14880               7675907.00     11.612644
...                         ...                      ...           ...
1586                        172                963095.40      4.633445
1587                        398              50965568.85      0.422114
1588                        398              50965568.85      0.306972
1589                        398              50965568.85      0.578726
1590                        398              50965568.85      0.338836

      Crude unvax IR  Crude IRR  Age adjusted vax IR  Age adjusted unvax IR  \
0         175.348541   8.085102                  NaN                    NaN
1         246.808418   9.312415                  NaN                    NaN
2         239.653290   9.638558                  NaN                    NaN
3         219.290362  10.538667                  NaN                    NaN
4         193.853313  16.693297                  NaN                    NaN
...              ...        ...                  ...                    ...
1586       17.859082   3.854385                  NaN                    NaN
1587        0.780919   1.850021             0.287258               1.605239
1588        0.780919   2.543944             0.317448               1.605239
1589        0.780919   1.349376             0.294841               1.605239
1590        0.780919   2.304715             0.277278               1.605239

      Age adjusted IRR  Continuity correction
0                  NaN                      0
1                  NaN                      0
2                  NaN                      0
3                  NaN                      0
4                  NaN                      0
...                ...                    ...
1586               NaN                      1
1587          5.588152                      1
1588          5.056694                      1
1589          5.444415                      1
1590          5.789287                      1

[1591 rows x 16 columns]

In [5]:
raw.head()

,outcome,month,MMWR week,Age group,Vaccine product,Vaccinated with outcome,Fully vaccinated population,Unvaccinated with outcome,Unvaccinated population,Crude vax IR,Crude unvax IR,Crude IRR,Age adjusted vax IR,Age adjusted unvax IR,Age adjusted IRR,Continuity correction
0,case,APR 2021,202114,12-17,all_types,8,36887.0,30785,17556462.0,21.687858,175.348541,8.085102,NaN,NaN,NaN,0
1,case,APR 2021,202114,18-29,all_types,674,2543093.0,76736,31091322.0,26.503160,246.808418,9.312415,NaN,NaN,NaN,0
2,case,APR 2021,202114,30-49,all_types,1847,7428405.0,98436,41074337.0,24.864019,239.653290,9.638558,NaN,NaN,NaN,0
3,case,APR 2021,202114,50-64,all_types,1558,7487444.0,50324,22948569.0,20.808169,219.290362,10.538667,NaN,NaN,NaN,0
4,case,APR 2021,202114,65-79,all_types,1672,14398099.0,14880,7675907.0,11.612644,193.853313,16.693297,NaN,NaN,NaN,0

In [6]:
import pandas as pd

In [7]:
raw = pd.read_csv("raw/Rates_of_Cases_or_Deaths.csv")

In [8]:
print(raw)

     outcome     month  MMWR week     Age group Vaccine product  \
0       case  APR 2021     202114         12-17       all_types
1       case  APR 2021     202114         18-29       all_types
2       case  APR 2021     202114         30-49       all_types
3       case  APR 2021     202114         50-64       all_types
4       case  APR 2021     202114         65-79       all_types
...      ...       ...        ...           ...             ...
1586   death  AUG 2022     202235           80+       all_types
1587   death  AUG 2022     202235  all_ages_adj       all_types
1588   death  AUG 2022     202235  all_ages_adj         Janssen
1589   death  AUG 2022     202235  all_ages_adj         Moderna
1590   death  AUG 2022     202235  all_ages_adj          Pfizer

      Vaccinated with outcome  Fully vaccinated population  \
0                           8                 3.688700e+04
1                         674                 2.543093e+06
2                        1847                 7.428405e+06
3                        1558                 7.487444e+06
4                        1672                 1.439810e+07
...                       ...                          ...
1586                      328                 7.078966e+06
1587                      603                 1.428525e+08
1588                       33                 1.075017e+07
1589                      286                 4.941886e+07
1590                      280                 8.263597e+07

      Unvaccinated with outcome  Unvaccinated population  Crude vax IR  \
0                         30785              17556462.00     21.687858
1                         76736              31091322.00     26.503160
2                         98436              41074337.00     24.864019
3                         50324              22948569.00     20.808169
4                         14880               7675907.00     11.612644
...                         ...                      ...           ...
1586                        172                963095.40      4.633445
1587                        398              50965568.85      0.422114
1588                        398              50965568.85      0.306972
1589                        398              50965568.85      0.578726
1590                        398              50965568.85      0.338836

      Crude unvax IR  Crude IRR  Age adjusted vax IR  Age adjusted unvax IR  \
0         175.348541   8.085102                  NaN                    NaN
1         246.808418   9.312415                  NaN                    NaN
2         239.653290   9.638558                  NaN                    NaN
3         219.290362  10.538667                  NaN                    NaN
4         193.853313  16.693297                  NaN                    NaN
...              ...        ...                  ...                    ...
1586       17.859082   3.854385                  NaN                    NaN
1587        0.780919   1.850021             0.287258               1.605239
1588        0.780919   2.543944             0.317448               1.605239
1589        0.780919   1.349376             0.294841               1.605239
1590        0.780919   2.304715             0.277278               1.605239

      Age adjusted IRR  Continuity correction
0                  NaN                      0
1                  NaN                      0
2                  NaN                      0
3                  NaN                      0
4                  NaN                      0
...                ...                    ...
1586               NaN                      1
1587          5.588152                      1
1588          5.056694                      1
1589          5.444415                      1
1590          5.789287                      1

[1591 rows x 16 columns]

In [9]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1591 entries, 0 to 1590
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   outcome                      1591 non-null   object
 1   month                        1591 non-null   object
 2   MMWR week                    1591 non-null   int64
 3   Age group                    1591 non-null   object
 4   Vaccine product              1591 non-null   object
 5   Vaccinated with outcome      1591 non-null   int64
 6   Fully vaccinated population  1591 non-null   float64
 7   Unvaccinated with outcome    1591 non-null   int64
 8   Unvaccinated population      1591 non-null   float64
 9   Crude vax IR                 1591 non-null   float64
 10  Crude unvax IR               1591 non-null   float64
 11  Crude IRR                    1477 non-null   float64
 12  Age adjusted vax IR          604 non-null    float64
 13  Age adjusted unvax IR        604 non-null    float64
 14  Age adjusted IRR             604 non-null    float64
 15  Continuity correction        1591 non-null   int64
dtypes: float64(8), int64(4), object(4)
memory usage: 199.0+ KB

In [10]:
raw.describe()

,MMWR week,Vaccinated with outcome,Fully vaccinated population,Unvaccinated with outcome,Unvaccinated population,Crude vax IR,Crude unvax IR,Crude IRR,Age adjusted vax IR,Age adjusted unvax IR,Age adjusted IRR,Continuity correction
count,1591.000000,1.591000e+03,1.591000e+03,1.591000e+03,1.591000e+03,1591.000000,1591.000000,1477.000000,604.000000,604.000000,604.000000,1591.000000
mean,202176.382778,3.385382e+04,3.540908e+07,6.641138e+04,3.023931e+07,84.439139,240.871541,7.014693,85.046576,251.477361,7.773610,0.658077
std,44.195349,1.165829e+05,3.601584e+07,1.837253e+05,2.851263e+07,201.563571,477.663276,8.481700,200.339063,493.368707,6.216054,0.474503
min,202114.000000,0.000000e+00,3.567800e+04,0.000000e+00,9.436914e+05,0.000000,0.000000,0.000000,0.042785,0.691227,1.151808,0.000000
25%,202133.000000,9.250000e+01,9.610290e+06,4.140000e+02,6.529195e+06,0.363132,1.585890,2.286517,0.517824,2.926206,3.170636,0.000000
50%,202201.000000,1.253000e+03,2.390094e+07,4.712000e+03,1.443123e+07,7.649694,59.369738,4.402462,5.572722,58.226029,5.254769,1.000000
75%,202219.000000,2.124700e+04,4.305090e+07,4.940050e+04,5.422110e+07,97.061261,308.961001,7.736353,100.184844,356.017441,11.070802,1.000000
max,202238.000000,2.016034e+06,1.510390e+08,1.882489e+06,1.228712e+08,2090.173796,3991.947275,120.480671,1618.610794,3369.222957,33.831621,1.000000

MISSING DATA

In [11]:
import pandas as pd

In [12]:
raw = pd.read_csv("raw/Rates_of_Cases_or_Deaths.csv")

In [13]:
# number of missing values(data)
raw.isnull()

,outcome,month,MMWR week,Age group,Vaccine product,Vaccinated with outcome,Fully vaccinated population,Unvaccinated with outcome,Unvaccinated population,Crude vax IR,Crude unvax IR,Crude IRR,Age adjusted vax IR,Age adjusted unvax IR,Age adjusted IRR,Continuity correction
0,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False
2,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1586,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False
1587,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1588,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1589,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1590,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [14]:
raw.isnull().sum()

outcome                          0
month                            0
MMWR week                        0
Age group                        0
Vaccine product                  0
Vaccinated with outcome          0
Fully vaccinated population      0
Unvaccinated with outcome        0
Unvaccinated population          0
Crude vax IR                     0
Crude unvax IR                   0
Crude IRR                      114
Age adjusted vax IR            987
Age adjusted unvax IR          987
Age adjusted IRR               987
Continuity correction            0
dtype: int64

In [15]:
# % of missing values in each column: number of missing values/total values * 100
raw.isnull().sum()/len(raw)*100

outcome                         0.000000
month                           0.000000
MMWR week                       0.000000
Age group                       0.000000
Vaccine product                 0.000000
Vaccinated with outcome         0.000000
Fully vaccinated population     0.000000
Unvaccinated with outcome       0.000000
Unvaccinated population         0.000000
Crude vax IR                    0.000000
Crude unvax IR                  0.000000
Crude IRR                       7.165305
Age adjusted vax IR            62.036455
Age adjusted unvax IR          62.036455
Age adjusted IRR               62.036455
Continuity correction           0.000000
dtype: float64

In [16]:
import pandas as pd

In [17]:
raw.head()

,outcome,month,MMWR week,Age group,Vaccine product,Vaccinated with outcome,Fully vaccinated population,Unvaccinated with outcome,Unvaccinated population,Crude vax IR,Crude unvax IR,Crude IRR,Age adjusted vax IR,Age adjusted unvax IR,Age adjusted IRR,Continuity correction
0,case,APR 2021,202114,12-17,all_types,8,36887.0,30785,17556462.0,21.687858,175.348541,8.085102,NaN,NaN,NaN,0
1,case,APR 2021,202114,18-29,all_types,674,2543093.0,76736,31091322.0,26.503160,246.808418,9.312415,NaN,NaN,NaN,0
2,case,APR 2021,202114,30-49,all_types,1847,7428405.0,98436,41074337.0,24.864019,239.653290,9.638558,NaN,NaN,NaN,0
3,case,APR 2021,202114,50-64,all_types,1558,7487444.0,50324,22948569.0,20.808169,219.290362,10.538667,NaN,NaN,NaN,0
4,case,APR 2021,202114,65-79,all_types,1672,14398099.0,14880,7675907.0,11.612644,193.853313,16.693297,NaN,NaN,NaN,0

In [4]:
import pandas as pd

In [5]:
raw = pd.read_csv("raw/Rates_of_Cases_or_Deaths.csv")

In [12]:
clean = raw.drop(["Age adjusted vax IR", "Age adjusted unvax IR", "Age adjusted IRR"], axis=1)
print(clean)

     outcome     month  MMWR week     Age group Vaccine product  \
0       case  APR 2021     202114         12-17       all_types
1       case  APR 2021     202114         18-29       all_types
2       case  APR 2021     202114         30-49       all_types
3       case  APR 2021     202114         50-64       all_types
4       case  APR 2021     202114         65-79       all_types
...      ...       ...        ...           ...             ...
1586   death  AUG 2022     202235           80+       all_types
1587   death  AUG 2022     202235  all_ages_adj       all_types
1588   death  AUG 2022     202235  all_ages_adj         Janssen
1589   death  AUG 2022     202235  all_ages_adj         Moderna
1590   death  AUG 2022     202235  all_ages_adj          Pfizer

      Vaccinated with outcome  Fully vaccinated population  \
0                           8                 3.688700e+04
1                         674                 2.543093e+06
2                        1847                 7.428405e+06
3                        1558                 7.487444e+06
4                        1672                 1.439810e+07
...                       ...                          ...
1586                      328                 7.078966e+06
1587                      603                 1.428525e+08
1588                       33                 1.075017e+07
1589                      286                 4.941886e+07
1590                      280                 8.263597e+07

      Unvaccinated with outcome  Unvaccinated population  Crude vax IR  \
0                         30785              17556462.00     21.687858
1                         76736              31091322.00     26.503160
2                         98436              41074337.00     24.864019
3                         50324              22948569.00     20.808169
4                         14880               7675907.00     11.612644
...                         ...                      ...           ...
1586                        172                963095.40      4.633445
1587                        398              50965568.85      0.422114
1588                        398              50965568.85      0.306972
1589                        398              50965568.85      0.578726
1590                        398              50965568.85      0.338836

      Crude unvax IR  Crude IRR  Continuity correction
0         175.348541   8.085102                      0
1         246.808418   9.312415                      0
2         239.653290   9.638558                      0
3         219.290362  10.538667                      0
4         193.853313  16.693297                      0
...              ...        ...                    ...
1586       17.859082   3.854385                      1
1587        0.780919   1.850021                      1
1588        0.780919   2.543944                      1
1589        0.780919   1.349376                      1
1590        0.780919   2.304715                      1

[1591 rows x 13 columns]

In [10]:
clean.head()

,outcome,month,MMWR week,Age group,Vaccine product,Vaccinated with outcome,Fully vaccinated population,Unvaccinated with outcome,Unvaccinated population,Crude vax IR,Crude unvax IR,Crude IRR,Continuity correction
0,case,APR 2021,202114,12-17,all_types,8,36887.0,30785,17556462.0,21.687858,175.348541,8.085102,0
1,case,APR 2021,202114,18-29,all_types,674,2543093.0,76736,31091322.0,26.503160,246.808418,9.312415,0
2,case,APR 2021,202114,30-49,all_types,1847,7428405.0,98436,41074337.0,24.864019,239.653290,9.638558,0
3,case,APR 2021,202114,50-64,all_types,1558,7487444.0,50324,22948569.0,20.808169,219.290362,10.538667,0
4,case,APR 2021,202114,65-79,all_types,1672,14398099.0,14880,7675907.0,11.612644,193.853313,16.693297,0

In [13]:
# Save clean to csv file
clean.to_csv("clean_data_1.csv", index=False)

In [4]:
clean = pd.read_csv("clean/clean_data_1.csv")
print(clean)

     outcome     month  MMWR week     Age group Vaccine product  \
0       case  APR 2021     202114         12-17       all_types
1       case  APR 2021     202114         18-29       all_types
2       case  APR 2021     202114         30-49       all_types
3       case  APR 2021     202114         50-64       all_types
4       case  APR 2021     202114         65-79       all_types
...      ...       ...        ...           ...             ...
1586   death  AUG 2022     202235           80+       all_types
1587   death  AUG 2022     202235  all_ages_adj       all_types
1588   death  AUG 2022     202235  all_ages_adj         Janssen
1589   death  AUG 2022     202235  all_ages_adj         Moderna
1590   death  AUG 2022     202235  all_ages_adj          Pfizer

      Vaccinated with outcome  Fully vaccinated population  \
0                           8                 3.688700e+04
1                         674                 2.543093e+06
2                        1847                 7.428405e+06
3                        1558                 7.487444e+06
4                        1672                 1.439810e+07
...                       ...                          ...
1586                      328                 7.078966e+06
1587                      603                 1.428525e+08
1588                       33                 1.075017e+07
1589                      286                 4.941886e+07
1590                      280                 8.263597e+07

      Unvaccinated with outcome  Unvaccinated population  Crude vax IR  \
0                         30785              17556462.00     21.687858
1                         76736              31091322.00     26.503160
2                         98436              41074337.00     24.864019
3                         50324              22948569.00     20.808169
4                         14880               7675907.00     11.612644
...                         ...                      ...           ...
1586                        172                963095.40      4.633445
1587                        398              50965568.85      0.422114
1588                        398              50965568.85      0.306972
1589                        398              50965568.85      0.578726
1590                        398              50965568.85      0.338836

      Crude unvax IR  Crude IRR  Continuity correction
0         175.348541   8.085102                      0
1         246.808418   9.312415                      0
2         239.653290   9.638558                      0
3         219.290362  10.538667                      0
4         193.853313  16.693297                      0
...              ...        ...                    ...
1586       17.859082   3.854385                      1
1587        0.780919   1.850021                      1
1588        0.780919   2.543944                      1
1589        0.780919   1.349376                      1
1590        0.780919   2.304715                      1

[1591 rows x 13 columns]

In [27]:
## Filling "Crude IRR" as % of missing values is 7.1653:
## Calculate mean(median, or mode) of this column and fill the missing values with it.

In [2]:
import pandas as pd

In [5]:
clean = pd.read_csv("clean/clean_data_1.csv")

In [16]:
# calculate the mean of the Crude IRR column
mean_value = clean["Crude IRR"].mean()
print(mean_value)

7.014692613974949

In [17]:
## fillna
clean.fillna({"Crude IRR": mean_value}, inplace=True)

In [18]:
clean.isnull().sum()

outcome                        0
month                          0
MMWR week                      0
Age group                      0
Vaccine product                0
Vaccinated with outcome        0
Fully vaccinated population    0
Unvaccinated with outcome      0
Unvaccinated population        0
Crude vax IR                   0
Crude unvax IR                 0
Crude IRR                      0
Continuity correction          0
dtype: int64

In [19]:
clean.columns

Index(['outcome', 'month', 'MMWR week', 'Age group', 'Vaccine product',
       'Vaccinated with outcome', 'Fully vaccinated population',
       'Unvaccinated with outcome', 'Unvaccinated population', 'Crude vax IR',
       'Crude unvax IR', 'Crude IRR', 'Continuity correction'],
      dtype='object')

DUPLICATES

In [85]:
clean.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1586    False
1587    False
1588    False
1589    False
1590    False
Length: 1591, dtype: bool

In [86]:
clean.duplicated().sum()

np.int64(0)

In [87]:
duplicate_count = int(clean.duplicated().sum())
duplicate_count

0

DATETIME

In [91]:
clean["month"] = pd.to_datetime(clean["month"])

In [92]:
clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1591 entries, 0 to 1590
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   outcome                      1591 non-null   object
 1   month                        1591 non-null   datetime64[ns]
 2   MMWR week                    1591 non-null   int64
 3   Age group                    1591 non-null   object
 4   Vaccine product              1591 non-null   object
 5   Vaccinated with outcome      1591 non-null   int64
 6   Fully vaccinated population  1591 non-null   float64
 7   Unvaccinated with outcome    1591 non-null   int64
 8   Unvaccinated population      1591 non-null   float64
 9   Crude vax IR                 1591 non-null   float64
 10  Crude unvax IR               1591 non-null   float64
 11  Crude IRR                    1591 non-null   float64
 12  Continuity correction        1591 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(4), object(3)
memory usage: 161.7+ KB

In [93]:
clean

,outcome,month,MMWR week,Age group,Vaccine product,Vaccinated with outcome,Fully vaccinated population,Unvaccinated with outcome,Unvaccinated population,Crude vax IR,Crude unvax IR,Crude IRR,Continuity correction
0,case,2021-04-01,202114,12-17,all_types,8,3.688700e+04,30785,17556462.00,21.687858,175.348541,8.085102,0
1,case,2021-04-01,202114,18-29,all_types,674,2.543093e+06,76736,31091322.00,26.503160,246.808418,9.312415,0
2,case,2021-04-01,202114,30-49,all_types,1847,7.428405e+06,98436,41074337.00,24.864019,239.653290,9.638558,0
3,case,2021-04-01,202114,50-64,all_types,1558,7.487444e+06,50324,22948569.00,20.808169,219.290362,10.538667,0
4,case,2021-04-01,202114,65-79,all_types,1672,1.439810e+07,14880,7675907.00,11.612644,193.853313,16.693297,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1586,death,2022-08-01,202235,80+,all_types,328,7.078966e+06,172,963095.40,4.633445,17.859082,3.854385,1
1587,death,2022-08-01,202235,all_ages_adj,all_types,603,1.428525e+08,398,50965568.85,0.422114,0.780919,1.850021,1
1588,death,2022-08-01,202235,all_ages_adj,Janssen,33,1.075017e+07,398,50965568.85,0.306972,0.780919,2.543944,1
1589,death,2022-08-01,202235,all_ages_adj,Moderna,286,4.941886e+07,398,50965568.85,0.578726,0.780919,1.349376,1
1590,death,2022-08-01,202235,all_ages_adj,Pfizer,280,8.263597e+07,398,50965568.85,0.338836,0.780919,2.304715,1

In [95]:
clean.head()

,outcome,month,MMWR week,Age group,Vaccine product,Vaccinated with outcome,Fully vaccinated population,Unvaccinated with outcome,Unvaccinated population,Crude vax IR,Crude unvax IR,Crude IRR,Continuity correction
0,case,APR 2021,202114,12-17,all_types,8,36887.0,30785,17556462.0,21.687858,175.348541,8.085102,0
1,case,APR 2021,202114,18-29,all_types,674,2543093.0,76736,31091322.0,26.503160,246.808418,9.312415,0
2,case,APR 2021,202114,30-49,all_types,1847,7428405.0,98436,41074337.0,24.864019,239.653290,9.638558,0
3,case,APR 2021,202114,50-64,all_types,1558,7487444.0,50324,22948569.0,20.808169,219.290362,10.538667,0
4,case,APR 2021,202114,65-79,all_types,1672,14398099.0,14880,7675907.0,11.612644,193.853313,16.693297,0

In [107]:
case_rows = clean[clean["outcome"] == "case"].shape[0]
print("Number of case rows:", case_rows)

Number of case rows: 812

In [110]:
death_rows = clean[clean["outcome"] == "death"].shape[0]
print("Number of death rows:", death_rows)

Number of death rows: 779

In [1]:
!pwd

/c/Users/weare/Capstone

In [20]:
import shutil
source = "clean_data_1.csv"
destination = "clean/"
shutil.move(source, destination)

Error: Destination path 'clean/clean_data_1.csv' already exists